<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
</head>
<body>
    <a href="/users">Listar usuários</a>
    <form action="/users" method="POST">
        <input type="text" name="name" placeholder="Digite o nome">
        <input type="email" name="email" placeholder="Digite o Email">
        <input type="text" name="phone" placeholder="Digite o Telefone">
        <input type="password" name="password" placeholder="Digite a Senha">
        <button type="submit">Enviar</button>
    </form>
</body>
</html>