<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget</title>
</head>
<body>
    <a href="/budgets">Cancelar</a>
    <form action="/budgets/update" method="POST">
        <input type="hidden" name="id" value="<%= budget[0].id %>">
        <input type="text" name="measures" value="<%= budget[0].measures %>" placeholder="Digite as medidas">
        <input type="text" name="description" value="<%= budget[0].description %>" placeholder="Digite a descrição">
        <button type="submit">Enviar</button>
    </form>
</body>
</html>